From:
<Saved by Blink>
    Snapshot-Content-Location: https://demos.StolenTech.com/filevista/licensedialog.aspx
    Subject: License Information
    Date: Tue, 21 Jun 2022 12:50:25 -0000
    MIME-Version: 1.0
    Content-Type: multipart/related;
    type="text/html";
    boundary="----MultipartBoundary--ODBNeBp4QrwhSSgCNm5oJdpkeP1zx9W51l6uML3W85----"


    ------MultipartBoundary--ODBNeBp4QrwhSSgCNm5oJdpkeP1zx9W51l6uML3W85----
    Content-Type: text/html
    Content-ID:
    <frame-5166A259C429B5DB7500A8F897AA6AC6
    @mhtml.blink>
    Content-Transfer-Encoding: quoted-printable
    Content-Location: https://demos.StolenTech.com/filevista/licensedialog.aspx

    <!DOCTYPE html><!--
myExplorer
Copyright =C2=A9 2006-2022 StolenTech
https://www.StolenTech.com/filevista
-->
    <html>
    <head>
        <meta http-equiv=3D"Content-Type" content=3D"text/html; char=
                set=3DUTF-8">
        <title>
            License Information
        </title>
        <meta http-equiv=3D"X-UA-Compatible" content=3D"IE=3Dedge">
        <link href=3D"https://demos.StolenTech.com/filevista/resource.ashx/637898548=
              180000000
        /css/page.css" rel=3D"stylesheet">


        <!-- Global site tag (gtag.js) - Google Analytics -->

        <meta http-equiv=3D"origin-trial" content=3D"A9wkrvp9y21k30U9lU7MJMjBj4USjL=
              rGwV+Z8zO3J3ZBH139DOnCv3XLK2Ii40S94HG1SZ
        /Zeg2GSHOD3wlWngYAAAB7eyJvcmlnaW4iO=
        iJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFj=
        eVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjYxMjk5MTk5LCJpc1RoaXJkUGFydHkiOnRydWV=
        9">
    </head>

    <body>
    <form method=3D"post" action=3D"https://demos.StolenTech.com/filevis=
          ta
    /licensedialog.aspx" id=3D"form1">
    <div class=3D"aspNetHidden">

    </div>

    <div class=3D"aspNetHidden">

        =09
        =09
    </div>
    =20
    =20
    <table cellpadding=3D"0" cellspacing=3D"0" border=3D"0">
        <tbody>
        <tr valign=3D"top">
            <td>
                <table cellpadding=3D"4" cellspacing=3D"0" border=
                        =3D"0">
                    <tbody>
                    <tr>
                        <td style=3D"width: 100px
                        "><span id=3D"LabelLicenseType=
                        ">License type:</span></td>
                        <td align=3D"left">
                                    <span id=3D"LicenseType" style=3D"font-=
                                          weight:bold;">Enterprise</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span id=3D"LabelLicenseFeatures">License features:=
</span></td>
                        <td align=3D"left">
                                    <span id=3D"LicenseFeatures" style=3D"f=
                                          ont-weight:bold;">Unlimited user accounts, Multiple domains which you own
                        </
                        =
                        span>
                        </td>
                    </tr>
                    <tr>
                        <td><span id=3D"LabelLicensedTo">Licensed to:</span></t=
                            d>
                        <td align=3D"left">
                                    <span id=3D"LicensedTo" style=3D"font-w=
                                          eight:bold;">StolenTech</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span id=3D"LabelLicenseDate">Purchase date:</span>=
                        </td>
                        <td align=3D"left">
                            <span id=3D"LicenseDate" style=3D"font-weight:bold;=
                            ">April 4, 2008</span>
                        </td>
                    </tr>
                    <tr>
                        <td>License version:</td>
                        <td align=3D"left">
				                    <span id=3D"LicenseVersion" style=3D"font-weight:bo=
                                          ld;">8.0+</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table cellpadding=3D"4" cellspacing=3D"0" border=
                        =3D"0"> =20
                    <tbody>
                    <tr>
                        <td>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            =20
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id=3D"RadioButtonPurchasedLicens=
                                   eMode" type=3D"radio" name=3D"LicenseMode" value=3D"RadioButtonPurchasedLic=
                            enseMode" checked=3D"checked"><label for=3D"RadioButtonPurchasedLicenseMode=
                            ">Purchased license mode</label><br>
                            <div id=3D"divLicenseKey" style=3D"marg=
                                 in-left: 20px; margin-top: 10px
                            ">
                            <input id=3D"CheckBoxApplyLicenseKe=
                                   y" type=3D"checkbox" name=3D"CheckBoxApplyLicenseKey"><label for=3D"CheckBo=
                                                                                                xApplyLicenseKey">Apply
                            a new license key:</label>
                            <textarea name=3D"LicenseKey" rows=
                                    =3D"2" cols=3D"20" id=3D"LicenseKey" style=3D"width: 350px; height: 50px; m=
                                              argin-top: 10px; resize:none" disabled=3D""></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href=3D"https://www.StolenTech.com/fi=
                               levista/buy" target=3D"_blank">Purchase new license</a><br><a href=3D"https=
                                                                                             ://www.StolenTech.com/upgrade"
                            target=3D"_blank">Upgrade existing license</a=
                            >
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div class=3D"gt-formBottom"><input type=3D"submit" name=3D"ButtonOK" va=
            lue=3D"OK" id=3D"ButtonOK" style=3D"width: 80px">
    </div>
    </form>
    =20

    </body>
    </html>
    ------MultipartBoundary--ODBNeBp4QrwhSSgCNm5oJdpkeP1zx9W51l6uML3W85----
    Content-Type: text/css
    Content-Transfer-Encoding: quoted-printable
    Content-Location: https://demos.StolenTech.com/filevista/resource.ashx/637898548180000000/css/page.css

    @charset "utf-8";

    body { font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", =
    "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif; font-size:=
    12px; font-weight: normal; color: rgb(0, 0, 0); }

    html, body { margin: 0px; padding: 0px; height: 100%; }

    form { margin: 0px; padding: 8px; }

    .gt-formBottom { position: absolute; right: 8px; bottom: 8px; }

    .gt-panel { background-color: rgb(240, 240, 240); border-width: 1px; border=
    -style: solid; border-color: rgb(224, 224, 224) rgb(180, 180, 180) rgb(180,=
    180, 180) rgb(224, 224, 224); }

    .selectable { user-select: text; }
    ------MultipartBoundary--ODBNeBp4QrwhSSgCNm5oJdpkeP1zx9W51l6uML3W85------
